*.env
.env
.env.*

/node_modules
/.vscode

/.idea
/dist
/public
/coverage
/coverage.*
/coverage*/**/*
/jest
/jest*/**/*
/next
/next*/**/*
/next.config.js
/next.config.ts
/next.config.mjs
/next.config.cjs
/next.config.babel.js
/next.config.babel.ts